.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 87.6vh;
    transition: all .2s ease-in-out;
}
.spinner-container img{
    max-width: 100px;
}